.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.logoBox {
  width: 230px; /* Fixed width */
  height: 150px; /* Adjust height as needed */
  border: 3px solid #007bff;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; /* Center text */
  margin-bottom: 10px; /* Add margin to control the distance */
}

.hiddenLogoBox {
  width: 230px; /* Same width to maintain box size */
  height: 150px; /* Same height to maintain box size */
  border: 3px solid #007bff; /* Visible border */
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 10px; /* Add margin to control the distance */
}

.hiddenLogoImage {
  visibility: hidden;
}

.hiddenTeamName {
  font-size: 18px;
  font-weight: bold;
  width: 100%; /* Ensure the text spans the full width of the box */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  visibility: hidden;
}

.logoImage {
  max-width: 100%;
  max-height: 100%;
}

.teamName {
  font-size: 25px;
  font-weight: bold;
  width: 100%; /* Ensure the text spans the full width of the box */
  white-space: normal; /* Allow text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  display: block;
  text-align: center;
  line-height: 1.2; /* Adjust line height for better readability */
}
